.about {
  background-color: rgb(245, 245, 245);
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 3rem 0;
  padding-left: 3rem;
}

h2{
  color:  rgb(203, 131, 65);
}

.icon-list{
  padding-left: 14px;
}

.about-text p {
  /* color: black; */
  margin: 1rem 0;
}

.about-image img {
  width: 100%;
  border-radius: var(--radius);
}